@import url(../global/global.css);

.about-page {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.page-header {
  width: 38%;
  margin: 0;
}

.about-intro {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.content-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: var(--font-bold);
  color: var(--text-color);

  width: 30%;
}

.description-block {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.coders-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;

  padding: 140px 0;
  background-color: #f4f7fa;
}

.coders-collage {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.coders-collage-img {
  width: 225px;
  height: 275px;
}

.img2 {
  margin-top: 40px;
}

.coders-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content-title--coders {
  width: 90%;
}

.hero-description--coders {
  width: 510px;
}

.team-section {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-bottom: 200px;
}

.team-header {
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    width: 75%;
}

.team-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    /* gap: 20px; */
}

.team-img {
    width: 267px;
    height: 356px;
    margin-bottom: 30px;
}

.team-name {
    color: var(--text-color);
    font-weight: var(--font-bold);
    font-size: 21px;
    line-height: 32px;
}

.team-role {
    color: var(--text-opacity-color);
    font-weight: var(--font-normal);
    font-size: 17px;
    line-height: 29px;
}