@import url(../global/global.css);

/* HEADER */
.header {
.action {
  background-color: var(--white-color);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 21px 48px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .navigation-list :hover {
  color: var(--hover-color);
  transition: 0.3s;
} */

.navigation-link {
  text-align: center;
  color: var(--text-color);
  font-weight: var(--font-bold);
  font-size: 15px;
  line-height: 26px;
}

.navigation-link.active {
  color: var(--hover-color);
}

.header-buttons {
  font-weight: var(--font-bold);
  font-size: 15px;
  line-height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-buttons .btn {
  color: var(--text-color);
}

.header-buttons .btn:hover {
  color: var(--hover-color);
  transition: 0.3s;
}

.support-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 44px;

  text-align: center;
  width: 41%;
  margin-top: 100px;
}

.support-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 47%;
  margin-bottom: 200px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-subtitle {
  font-size: 19px;
  line-height: 32px;
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.content-text {
  font-size: 17px;
  line-height: 29px;
  font-weight: var(--font-normal);
  color: var(--text-opacity-color);
}

.content-list {
  list-style-type: disc;
  padding-left: 20px;
}

.list-item {
  font-size: 17px;
  line-height: 50px;
  color: var(--text-opacity-color);
}

.content-list .list-item::marker {
  color: var(--marker-color);
}
