@import url(../global/global.css);

.header {
  background-color: var(--white-color);
}

.support-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 44px;

  text-align: center;
  width: 41%;
  margin-top: 100px;
}

.support-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 47%;
  margin-bottom: 200px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-subtitle {
  font-size: 19px;
  line-height: 32px;
  font-weight: var(--font-bold);
  color: var(--text-colot);
}

.content-text {
  font-size: 17px;
  line-height: 29px;
  font-weight: var(--font-normal);
  color: var(--text-opacity-color);
}

.content-list {
  list-style-type: disc; 
  padding-left: 20px;    
}

.list-item {
  font-size: 17px;
  line-height: 50px;
  color: var(--text-opacity-color);
}

.content-list .list-item::marker {
  color: var(--marker-color); 
}